:root {
    --main-bg-color: #121867;
    --main-fg-color: #f33784;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

.contenido, nav {
    margin: 0 auto;
    width: 85%;
}

nav {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav li {
    display: inline;
}

nav li a {
    color: var(--main-fg-color);
    display: inline-block;
    padding: 1em;
}

header {
    position: relative;
}

header img {
    opacity: 0.7;
    width: 100%;
}

.popup {
    background-color: var(--main-bg-color);
    border-radius: 1em;
    color: var(--main-fg-color);
    padding: 1.5em;
    position: absolute;
    top: 40%;
    left: 70%;
    text-align: center;
    width: 200px;
}

.popup p {
    margin: 0.5em 0;
}

.btn {
    background-color: var(--main-fg-color);
    border-radius: 1em;
    color: white;
    display: inline-block;
    padding: 1em;
}

main {
    margin: 0 auto;
    width: 80%;
}

h1 {
    color: var(--main-bg-color);
    font-size: 2em;
    margin-block: 0.5em;
    text-align: center;
}

.cards {
    margin-block: 1.5em;
}

.cards::before {
    background-color: var(--main-fg-color);
    content: "";
    display: block;
    height: 3px;
    margin: 0 auto;
    width: 33%;
}

.cards::after {
    background-color: var(--main-fg-color);
    content: "";
    display: block;
    height: 3px;
    margin: 0 auto;
    width: 33%;
}

.card {
    color: var(--main-bg-color);
    display: inline-block;
    margin: 1em 0;
    padding: 1em 2em;
    text-align: center;
    width: 33%;
}

.card img {
    width: 60%;
}

.article {
    color: var(--main-bg-color);
    margin: 3em auto;
    overflow: hidden;
    width: 80%;
}

.article img {
    float: left;
    margin-left: 10%;
}

.article p {
    float: left;
    line-height: 1.6em;
    margin-block: 1em;
    text-align: justify;
    width: 50%;
}

.article p::first-letter {
    color: var(--main-fg-color);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 2em;
    margin-right: 0.2em;
    padding-right: 0.1em;
}

.gallery {
    clear: both;
    margin: 0 auto;
    width: 80%;
}

.gallery div {
    display: inline-block;
    width: 19%;
}

.gallery img {
    width: 100%;
}

footer {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    padding: 1.5em;
    overflow-y: hidden;
}

footer ul {
    float: left;
    width: 20%;
}

footer p {
    float: left;
    text-align: center;
    width: 60%;
}

.social {
    float: left;
    text-align: center;
    width: 20%;
}

.social img {
    width: 10%;
}